{% extends 'base.html' %}

{% block title %}News{% endblock %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}

{%for item in news %}
    <div class="card mb-3">
        <div class="card-header">
            Категория: <a href="{% url 'category' item.category.id %}">{{ item.category }}</a>
        </div>
        <div class="card-body">
            <div class="media">
                {% if item.photo %}
                <!--изображение из бд вывести на экран с новостью-->
                <img src="{{ item.photo.url }}" width="350" height="350" class="mr-3">
                {% else %}
                <!--если изображения нет добавляем дефолтное-->
                <img src="https://avatarko.ru/img/kartinka/33/multfilm_lyagushka_32117.jpg" width="350" height="350" class="mr-3">
                {% endif %}
                <div class="media-body">
                    <h5 class="card-title">{{ item.title }}</h5>
                    <p class="card-text">{{ item.content }}</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="card-footer text-muted">
            {{ item.created_at|date:"Y-m-d H:i:s" }}
        </div>
    </div>
{% endfor %}
{% endblock %}


